 <style type="text/css"><!--
/*ここに調整CSS記述*/
.jumbotron {margin-bottom: 0;}
.footer{margin-top: 0;}
--></style>

<div class="jumbotron">


<div class="container yokohe">
<div class="form-horizontal" role="form">





<div class="form-group"><h1>Sign up</h1></div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
  <%= f.label :name, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_field :name, :class => 'form-control' %>
  </div>
  </div>

  <div class="field form-group">
    <%= f.label :email, :class => 'col-sm-3 control-label' %><br />
    <div class="col-sm-7">
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password, :class => 'col-sm-3 control-label' %>
    <% if @minimum_password_length %>
    <% end %><br />
    <div class="col-sm-7">
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, :class => 'col-sm-3 control-label' %><br />
    <div class="col-sm-7">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>



 
  <div class="field form-group">
  <%= f.label :age, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_field :age, :class => 'form-control' %>
  </div>
  </div>



  <div class="field form-group">
  <%= f.label :tall, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_field :tall, :class => 'form-control' %>
  </div>
  </div>

  <div class="field form-group">
  <%= f.label :place, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_field :place, :class => 'form-control' %>
  </div>
  </div>

  <div class="field form-group">
  <%= f.label :hobby, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_field :hobby, :class => 'form-control' %>
  </div>
  </div>


  <div class="field form-group">
  <%= f.label :tubuyaki, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_field :tubuyaki, :class => 'form-control', :size => 400 %>
  </div>
  </div>

  <div class="field form-group">
  <%= f.label :naiyou, :class => 'col-sm-3 control-label' %><br />
  <div class="col-sm-7">
  <%= f.text_area :naiyou, :class => 'form-control' %>
  </div>
  </div>



  <div class="field form-group">
  <div class="col-sm-offset-3 col-sm-10">
  <div><strong>sex</strong></div>

  <label><%= f.radio_button :sex, "1" %>男</label>
  <label><%= f.radio_button :sex, "2" %>女</label>
  </div>

  </div>

  <div class="form-group">
  <div class="col-sm-offset-3 col-sm-10">
  <div><strong>Tell us your fetis!</strong></div>
    <% categories = @user.categories.map {|record| [record.feti, record] }.to_h %>
  <% Category.fetis.each_with_index do |(feti, value), index| %>
    <label>
      <% category = categories[feti] %>
      <% name_prefix = "user[categories_attributes][#{index}]" %>
      <%= hidden_field_tag "#{name_prefix}[id]", category.try(:id) %>
      <% checked = category.present? && !category.marked_for_destruction? %>
      <%= check_box_tag "#{name_prefix}[feti]", feti, checked %>
      <%= feti %>
    </label>
  <% end %>
  </div>
  </div>



<!--   image uploader -->
<div class="form-group">
<div class="col-sm-offset-3 col-sm-10">
  <h3>upload your picture</h3>
  <%= f.label :image %>
  <%= f.file_field :image %>
  </div>
  </div>



      
<div class="form-group">
<div class="col-sm-offset-3 col-sm-10">
    <%= f.submit "Sign up", :class => "btn btn-primary btn-lg" %>
   </div>
  </div>

<% end %>




</div>


</div>

</div>
