<!DOCTYPE html>
<html>
<head>
  <title>Matching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css"><!--
/*ここに調整CSS記述*/
.jumbotron { background:url(/images/matching.jpg) center no-repeat; background-size: cover;}
--></style>
</head>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <img src="/images/loga.png" width="160px" height="45px" style="margin-right: 30px;">
        </div>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "ユーザー一覧", users_path %></li>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "チャット", messages_index_path %></li>
            <li><%= link_to "プロフィール変更", edit_user_registration_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "サインイン", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
    </div>
  </nav>
  <%= yield %>

  <div class="footer">Feti matching © 2016  All Rights Reserved.</div>
</body>
</html>



